body {
    background-color: #15202b;
    color: #cccccc;
}

.user-text-area {
    resize: none;
    background-color: #15202b;
    color: #cccccc;
    border: none;
}

.form-control:focus {
    background-color: #15202b;
    color: #cccccc;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.my-card {
    background-color: #595959;
    color: #cccccc;
    border: #595959, solid, 2px;
}